MONGO_URL=mongodb://solana:solanapassword@localhost:27017/
MONGO_DB=agent
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000
ZEP_API_KEY=YOUR_ZEP_API_KEY
RPC_URL=YOUR_HELIUS_RPC_URL
PRIVATE_KEY=YOUR_PRIVATE_KEY
ALPHAVYBE_API_KEY=YOUR_ALPHAVYBE_API_KEY
BIRDEYE_API_KEY=YOUR_BIRDEYE_API_KEY
